.sliderCircle{
    width: 870px;
    height: 750px;
    border-radius: 30%;
    position: absolute;
    overflow: none;
    
  }


  .sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .sliderItem:nth-child(1) .sliderCircle{
    background-color: #fff1d0;
    }
    /* .sliderItem:nth-child(2) .sliderCircle{
    background-color: #ffd0d2;
    }
    .sliderItem:nth-child(3) .sliderCircle{
    background-color: #D8BFD8
    }
    .sliderItem:nth-child(4) .sliderCircle{
    background-color: #E6E6FA;
    } */
    .right{
        z-index: 1;
      }
      .left{
        z-index: 1;
      }